*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 2px 0;
  background-image: url("img/background.jpg");
}

.grid {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 2px;
}

.card,
.back,
.front {
  height: 280px;
  width: 200px;
}

.card,
.front {
  border-radius: 13px;
}

.card,
.back {
  border-radius: 9px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url('img/back.jpg') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.selected .match .front {
  visibility: visible;
}

.match .front {
  visibility: hidden;
}

.match .front {
  visibility: hidden;
}

.match .front {
  visibility: hidden;
}


