*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 2px 0;
  background-image: url("img/background.jpg");
}

.grid {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 2px;
}

.card,
.back,
.front {
  height: 280px;
  width: 200px;
}

.card,
.front {
  border-radius: 13px;
}

.card,
.back {
  border-radius: 9px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url('img/back.jpg') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.selected .match .front {
  visibility: visible;
}

.match .front {
  visibility: hidden;
}

.match .front {
  visibility: hidden;
}

.match .front {
  visibility: hidden;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top: 20%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}
